$md-max-width: "678px";
$sm-max-width: "500px";


.cart-container {
  min-height: 78vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
}
.cart-block {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.6rem;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: $sm-max-width) {
    padding: 3rem 0.3rem;
  }
  .cart-info {
    font-size: 1rem;
  }
  .container-title {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .table-box {
    display: block;
    overflow-x: auto;
  }
  .cart-table {
    th {
      text-align: center;
      font-size: 1rem;
      padding: 1rem 5px;
      @media (max-width: $sm-max-width) {
        font-size: 0.75rem;
        padding: 0.5rem 4px;
        font-weight: 700;
      }
    }
    td {
      color: black;
      padding: 1rem 0.2rem;
      @media (max-width: $sm-max-width) {
        padding: 0.5rem 0.1rem;
        font-weight: 400;
        font-size: 15px;
      }
    }
    tfoot {
      border-top: 1px dashed #cccccc;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .center {
      text-align: center;
    }
    .button-delete {
      width: auto;
      font-size: 1rem;
      background-color: red;
      border: 1px solid lightgrey;
      padding: 5px 10px;
      color: white;
      &:hover {
        background-color: darkred;

      }

    }
  }
}
