$md-max-width: "678px";
$sm-max-width: "500px";

.main-page {
  padding: 10px 20px 10px 240px;
  @media (max-width: $sm-max-width) {
    padding: 1rem;
  }
  .ant-layout {
    @media (max-width: $sm-max-width) {
      flex-direction: column !important;
    }
  }
  .main-container {
    padding: 24px 0;
    flex-direction: column;
    &.sidebar {
      width: 200px;
    }
    
  }
  .container {
    min-height: 80vh !important;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    .card-container {
      margin-bottom: 1rem;
      background-color: #e3e8f1 !important;
      border: 1px solid #c3d1f1;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      flex-basis: 230px;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      background-color: white;
        & img {
          width: 60%;
          padding-top: 0.4rem;
          cursor: alias;
        }
      .card-description {
        margin: 0;
        padding: 20px;
        font-size: 1rem;
        text-align: justify;
        cursor: pointer;
      }
      .card-buy {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 0.6rem 0.8rem;
        & span {
          font-size: 1.2rem;
          font-weight: 600;
          color: darkgreen;
          padding-left: 10px;
          color: #000000;
        }
      }
      .btn-buy {
        width: 50%;
        font-size: 1.1rem;
        background-color: rgb(16, 151, 16);
        color: white;
      }
    }
  }
}
